.containerP {
  background: yellow;   
  background-image:url("C:\Users\jp196\Documents\#Formation La Manu Le Havre\Test_Integration\img\Polynesie-1680x720.jpg");
    } 

    .manTest {
  background-image: url("C:\Users\jp196\Documents\#Formation La Manu Le Havre\Test_Integration\img\background-spiral.png");
  background-color: transparent;
}